* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {

}

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

/* nav */

nav {
    padding: 14px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul:first-of-type {
    flex: 1;
}

nav img {
    width: 120px;
    height: auto;
    margin-left: 10px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #232323;
}

.nav-left a {
    padding-top: 2px;
    border-bottom: 4px solid transparent
}

.nav-right .expand-more {
    padding-top: 2px;
    border-bottom: 4px solid transparent
}

nav ul li a:hover, .nav-right .expand-more:hover {
    padding-bottom: 2px;
    border-bottom: 2px solid #232323;
}

.btn-nav:hover {
    padding-bottom: 0px;
    border: none;
}

nav ul li i {
    font-size: 18px !important;
}

nav ul li {
    display: flex;
    align-items: center;
    margin: 0px 10px;
}

nav ul:first-of-type li:first-of-type {
    margin-left: 30px;
}

.media-menu-btn {
    display: none;
    margin-left: 10px;
}

.media-menu-btn  button {
    background-color: transparent;
    border: none;
    color: #232323;
}

/* body */

.showcase  {
    width: 100%;
    height: 420px;
    background-image: url("https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4DRie?ver=3184&q=0&m=8&h=472&w=1259&b=%23FFFFFFFF&l=f&x=0&y=0&s=1898&d=712&aim=true");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.showcase .text-wrapper {
    width: 40%;
    margin-left: 70px;
}

.showcase .text-wrapper h1 {
    font-size: 1.6rem;
}

.showcase .text-wrapper>p {
    margin: 20px 0px;
    font-size: 17px;
}

.btn-black {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    width: 300px;
    height: 40px;
    font-weight: 600;
    text-decoration: none;
    padding-top: 2px;

}
.btn-black p {
    border-bottom: 2px solid #000;
    transition: margin-right 0.3s;
}

.btn-black i {
    transition: margin-left 0.3s;
}

.btn-black:hover {
    background-color: rgb(33, 33, 33);
}

.btn-black:hover > p {
    border-color: white;
    margin-right: 3px;
    transition: margin-right 0.3s;
}

.btn-black:hover > i {
    margin-left: 4px;
    transition: margin-left 0.3s;
}


/*  */

.icon-menu-wrapper {
    width: 60%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.icon-menu-wrapper a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    flex-direction: column;
}

.icon-menu-wrapper a p {
    color: black;
    font-size: 18px;
    margin-top: 8px;
    width: 70%;
}

.icon-menu-wrapper a:hover p {
    text-decoration: underline;
}


/*  */

.product-grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    margin-bottom: 60px;
}

.product-wrapper {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.product-wrapper h1 {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 300;
}

.product-wrapper>p {
    width: 85%;
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 10px;
}

.btn-trans {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    color: royalblue;
    text-decoration: none;
    padding-top: 2px;
}
.btn-trans p {
    font-size: 18px;
    border-bottom: 2px solid transparent;
}

.btn-trans:hover p {
    border-bottom: 2px solid royalblue;
}

.btn-trans:hover > i {
    margin-left: 4px;
    transition: margin-left 0.3s;
}

/* showcase 2 */

.showcase-2 {
    background-image: url("https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4r2gN?ver=ac9b&q=0&m=8&h=472&w=1259&b=%23FFFFFFFF&l=f&x=0&y=0&s=2120&d=795&aim=true");
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 40px;
}

.showcase-2 .text-wrapper {
    margin: 0;
    margin-top: 30px;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.showcase-2 .text-wrapper a {
    width: 110px;
    margin: 0px auto;
}

/* */

.product-grid-wrapper-2 {
    margin-bottom: 20px;
    font-size: 26px;
}











@media(max-width: 768px) {
    .container {
        width: 100vw;
        max-width: 100vw;
        margin: 0px;
    }

    nav {
        width: 100%;
    }

    .media-menu-btn {
        display: flex;
    }

    nav ul:first-of-type {
        display: none;
    }

    nav ul:nth-of-type(2) li:first-of-type {
        display: none;
    }

    nav ul li i {
        font-size: 18px !important;
    }

    /* body */
    .showcase {
        width: 100%;
        height: 580px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background-position: right;
    }

    .showcase .text-wrapper {
        text-align: center;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 90px;
    }

    .showcase .text-wrapper h1 {
        font-size: 20px;
    }

    .showcase .text-wrapper p {
        margin: 10px 0px;
    }

    .showcase .text-wrapper a {
        margin: 0px auto;
    }

    /*  */

    .icon-menu-wrapper {
        grid-template-columns: 1fr;
        width: 86%;
    }

    .icon-menu-wrapper a {
        text-align: left;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        margin: 14px 0;
    }

    .icon-menu-wrapper a img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .icon-menu-wrapper a p {
        margin: 0;
        width: 100%;
    }

    /*  */

    .product-grid-wrapper {
        grid-template-columns: 1fr;
        column-gap: 0px;
        width: 100%;
        margin-bottom: 0px;
    }

    .product-wrapper {
        width: 90%;
        margin: 0px auto;
        margin-bottom: 50px;
    }

    .product-wrapper img {
        width: 100%;
    }

    .product-wrapper h1 {
        margin-top: 20px;
    }

    /*  */

    .showcase-2 {
        background-position: 50%;
    }
}

